<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html lang="en">

<head th:replace="fragments/header :: header">
</head>
<body>
    
<div id="body" class="theme-cyan">

    <div th:replace="fragments/loader :: loader">
	</div>


    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">

		<nav th:replace="fragments/navbar :: navbar">
		</nav>

        <div th:replace="fragments/sidebar :: sidebar">
        </div>


        
        <!-- Main body part  -->
        <div id="main-content">
            <div class="container-fluid">
                <!-- Page header section  -->
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <h1>Liste des zones</h1>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                            
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-custom spacing5 mb-0">
                                        <thead>
                                            <tr> 
                                                <th>Photo</th>
                                                <th>Libelle</th>
                                                <th>Superficie</th>
                                                <th>Type de sol</th>
                                                <th>Espace Vert</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="w60">
                                                    <img src="" data-placement="top" title="" alt="plante" class="w35 rounded">
                                                </td>
                                                <td>
                                                    <p>Zone X</p>
                                                </td>
                                                <td>
                                                	<p>4163 m²</p>
                                                </td>
                                                <td>
                                                	<p>Type X</p>
                                                </td>
                                                <td>Espace X-1</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div th:replace="fragments/footer :: footer">

</div>
</body>
</html>