<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html lang="en">

<head th:replace="fragments/header :: header">
</head>
<body>
    
<div id="body" class="theme-cyan">

    <div th:replace="fragments/loader :: loader">
	</div>


    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">

		<nav th:replace="fragments/navbar :: navbar">
		</nav>

        <div th:replace="fragments/sidebar :: sidebar">
        </div>


        
        <!-- Main body part  -->
        <div id="main-content">
            <div layout:fragment="content" class="container-fluid">
                TEST
            </div >
        </div>

    </div>

</div>
<div th:replace="fragments/footer :: footer">

</div>
</body>
</html>