<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html lang="en">

<head th:replace="fragments/header :: header">
</head>
<body>
    
<div id="body" class="theme-cyan">

    <div th:replace="fragments/loader :: loader">
	</div>


    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">

		<nav th:replace="fragments/navbar :: navbar">
		</nav>

        <div th:replace="fragments/sidebar :: sidebar">
        </div>


        
        <!-- Main body part  -->
        <div id="main-content">
            <div class="container-fluid">
                <!-- Page header section  -->
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <h1>Nouvelle Zone</h1>
                        </div>            
                        
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                                           
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h2>Ajouter une Zone</h2>
                            </div>
                            <form th:action="@{/zones/new/{id} (id=${espace_id})}" enctype="multipart/form-data" th:method="POST" class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>Libelle</label>
                                            <input name="libelle" type="text" class="form-control" placeholder="Nom d'utilisatur">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>Superficie</label>
                                            <input name="superficie" type="text" class="form-control" placeholder="superficie">
                                        </div>
                                    </div>
                                    <div class=" col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>Photo</label>
                                            <input name="image" type="file" class="form-control" placeholder="Photo">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>Nouveau type</label>
                                            <input name="newType" type="text" class="form-control" placeholder="Nouveau type de sol">
                                        </div>
                                    </div>
									<div class="col-lg-6 col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>Type de Sol</label>
                                            <select name="type_id" class="form-control">
                                            <option value="-1">Nouveau type</option>
                                                <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    
                            
                                <button type="submit" class="btn btn-primary theme-bg gradient">Ajouter</button>
                            </div>
                        </form >              
                    </div>                
                </div>
</div >
        </div>

    </div>

</div>
<div th:replace="fragments/footer :: footer">

</div>
</body>
</html>