<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html lang="en">

<head th:replace="fragments/header :: header">
</head>
<body>
    
<div id="body" class="theme-cyan">

    <div th:replace="fragments/loader :: loader">
	</div>


    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">

		<nav th:replace="fragments/navbar :: navbar">
		</nav>

        <div th:replace="fragments/sidebar :: sidebar">
        </div>


        
        <!-- Main body part  -->
        <div id="main-content">
            <div class="container-fluid">
                <!-- Page header section  -->
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-md-5 col-sm-12">
                            <h1>Liste des plantes enregistrées</h1>
                        </div>            
                        <div class="col-md-7 col-sm-12 text-md-right">
                            <div class="d-flex align-items-center justify-content-md-end mt-4 mt-md-0 flex-wrap vivify pullUp delay-550">
                                
                                <div class="mb-3 mb-xl-0">
                                    <a href="/plantes/new" class="btn btn-dark">Ajouter une plante</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-custom spacing5 mb-0">
                                        <thead>
                                            <tr> 
                                                <th>Photo</th>
                                                <th>Libelle / Racine</th>
                                                <th>Type</th>
                                                <th class="text-right">Temperature</th>
                                                <th class="text-right">Humidité</th>
                                                <th class="text-right">Luminosité</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="plante : ${plantes}">
                                                <td class="w60">
                                                	<style>
                                                		.rounded{
															width : 100px
														}
                                                	</style>
                                                    <img th:src="${plante.image}" data-placement="top" title="" alt="plante" class="w35 rounded">
                                                </td>
                                                <td>
                                                    <p th:text="${plante.libelle + ' - ' + plante.racine}"></p>
                                                </td>
                                                <td>
                                                	<p th:text="${plante.type.name}"></p>
                                                </td>
                                                <td class="text-right" th:text="${plante.type.temperature + ' °C'}"></td>
                                                <td class="text-right"th:text="${plante.type.humiditeMax + ' - ' + plante.type.humiditeMin}"></td>
                                                <td class="text-right" th:text="${plante.type.luminosite}"><strong></strong></td>
                                            </tr >
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div th:replace="fragments/footer :: footer">

</div>
</body>
</html>